
body {
    font-size: 13px;
    font-family: arial, sans-serif;
}

fieldset {
	margin: 0px;
	padding: 0px;
    border-style: none;
}

fieldset ol {
	padding: 0px;
    list-style-type: none;
    list-style-position: outside;
}

fieldset ol li {
    padding-bottom: 5px;
}

fieldset ol li label {
    display: block;
}

fieldset ol input {
    margin-bottom: 5px;
	width: 300px
}